({
    "centaur": Tower (
        name: "Centaur",
        cost: 10,
        range: 5.0,
        damage: 3,
        rate_of_fire: 5.0,
        projectile_speed: 25.0,
        model: "models/centaur.glb",
    ),
    "demon": Tower (
        name: "Demon",
        cost: 10,
        range: 5.0,
        damage: 20,
        rate_of_fire: 1.0,
        projectile_speed: 25.0,
        model: "models/demon.glb",
    ),
})
