({
    "charmander": Tower (
        name: "Charmander",
        cost: 10,
        range: 5.0,
        damage: 1,
        rate_of_fire: 1.0,
        model: "models/sv-charmander.glb",
    ),
    "gastly": Tower (
        name: "Gastly",
        cost: 20,
        range: 5.0,
        damage: 2,
        rate_of_fire: 1.0,
        model: "models/sv-gastly.glb",
    ),
})
