({
    "towers": Towers ([
        TowerDetailsRon (
            name: "Centaur",
            cost: 10,
            element_type: Earth,
            model: "models/centaur.glb",
        ),
        TowerDetailsRon (
            name: "Demon",
            cost: 10,
            element_type: Fire,
            model: "models/demon.glb",
        )
    ]),
    "enemies": Enemies ([
        EnemyDetailsRon (
            name: "Goblin",
            health: 10,
            speed: 1,
            model: "models/orc.glb",
        )
    ]),
})
